.banner {
  height: 80vh;
  position: relative;

}

.banner__search {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.banner__background {
  background: url("https://images.unsplash.com/photo-1501446529957-6226bd447c46?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2064&q=80") ;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-position: right 20px; */
  height: 80vh;
  /* padding-bottom: 144px; */
  /* float: right; */
  /* width: 70%; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; */
}
.banner__info {
  color: rgb(2, 0, 0);
  padding-top: 300px;
  padding-left: 30px;
  padding-right: 30px;
  height: 80vh;
  text-align: center;
  justify-content: center;

}

.banner__searchButton {
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #167002 !important;
  border-color: rgb(255, 255, 255);

}

.banner__info > button {
  background-color: #0e4a00;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
  
}

.banner__info > button:hover {
  background-color: rgb(191, 46, 46);
  color: #0e4a00;
  
}


.banner__info > h5 {
  margin-top: 10px;
}

.banner__text > h2 {
  font-weight: 900;
}

