.banner {
  background: url("https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80") center center;
  height: 50vh;
  position: relative;
}

.banner__info {
    color: rgb(0, 0, 0);
    padding-top: 25vh;
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
}

.banner__search {
    display: flex;
    flex-direction: column;
    background-color: white;
    
}

.banner__searchButton {
  background-color: rgb(0, 0, 0) ;
  font-weight: 900 ;
  text-transform:initial ;
  color: #304a00 ;
  
}

.banner__text > button {
    background-color: #000000c8;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > button:hover {
    background-color: white;
    color: #cfff77;
  }
  

.banner__info > h5 {
    margin-top: 10px;
}

.banner__text > h1 {
  font-weight: 600;
}