.banner {
  height: 64vh;
  position: relative;
}
.banner__background {
  object-fit:contain;
  height: 50vh;
  width: 100%;
  position: relative;
  z-index: -1;
  justify-content: center;
  align-items: center;
}

.banner__searchButton {
  background-color: white;
  font-weight: 900;
  text-transform: inherit;
  color: black;
}

.banner__search {
  display: flex;
  flex-direction: column;
}